.wp-forum-connect-container {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}

.wp-forum-connect-featured {
    border: 1px solid #555;
    padding: 0 20px 20px;
    margin-bottom: 20px;
}

.wp-forum-connect-comments {
    border: 1px solid transparent;
    padding: 0 20px 20px;
}

.wp-forum-connect-comment {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #555;
    padding-top: 20px;
    margin-top: 20px;
}
.wp-forum-connect-comment:first-child {
    border-top: none;
    padding-top: 0;
    margin-top: 0;
}

.wp-forum-connect-comment-avatar {
    padding-right: 20px;
}

.wp-forum-connect-comment-message {
    flex: 1;
}

.wp-forum-connect-comment-message img {
    max-width: 100%;
}

.wp-forum-connect-pagination ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    border: 1px solid #555;
    border-radius: 5px;
}
.wp-forum-connect-pagination li {
    display: inline-block;
    line-height: 1;
    border-right: 1px solid #555;
}
.wp-forum-connect-pagination li:last-child {
    border-right: 0;
}
.wp-forum-connect-pagination a {
    display: inline-block;
    padding: 5px 15px;
}

.wp-forum-connect-validation-error {
    background: #B91C1C;
    border-radius: 5px;
    padding: 5px 15px;
    color: #fff;
    display: none;
}

.wp-forum-connect-comment-controls {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
}
.wp-forum-connect-comment-controls li {
    display: inline-block;
    line-height: 1;
    margin-right: 10px;
    font-size: 0.8em;
}

.wp-forum-connect-comment-controls + .wp-forum-connect-comment-vote {
    margin-top: 20px;
}

.wp-forum-connect-comment-vote {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
}
.wp-forum-connect-comment-vote li {
    display: inline-block;
    line-height: 1;
    margin-right: 10px;
}
.wp-forum-connect-comment-vote a {
    display: inline-block;
    width: 15px;
}
.wp-forum-connect-comment-vote-score {
    font-weight: bold;
}
.wp-forum-connect-comment-vote-score.positive {
    color: #16A34A;
}
.wp-forum-connect-comment-vote-score.negative {
    color: #B91C1C;
}
.wp-forum-connect-comment-vote-arrow {
    color: #333;
    position: relative;
    top: 3px;
}
.wp-forum-connect-comment-vote-arrow[data-can-vote="0"] {
    opacity: 0.2;
    pointer-events: none;
}
.wp-forum-connect-comment-vote-up.voted {
    color: #16A34A;
}
.wp-forum-connect-comment-vote-down.voted {
    color: #B91C1C;
}

.xf_thread_iframe_wrapper {
    position: relative;
}
.xf_thread_iframe_loading {
    display: none;
    position: absolute;
    width: 100%;
    text-align: center;
}
.xf_thread_iframe_container {
    width: 100%;
    visibility: hidden;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  filter: invert(1);
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

