.article-forum-connect-paywall {
    position: relative;
    top: -200px;
}

.article-forum-connect-paywall-gradient {
    background-image: linear-gradient(to top, var(--wp--preset--color--background), rgba(255, 255, 255, 0));
    width: 100%;
    height: 200px;
}

.article-forum-connect-paywall-notice {
    background: #eee;
    padding: 2em;
    text-align: center;
    border-radius: 10px;
    filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
}
.article-forum-connect-paywall-notice p {
    margin-top: 0;
}

.article-forum-connect-paywall-icon {
    width: 100px;
    margin: 0 auto 10px;
}
.article-forum-connect-paywall-icon svg {
    color: var(--wp--preset--color--primary);
    width: 100%;
}

.article-forum-connect-paywall-title {
    font-size: var(--wp--preset--font-size--large);
}